@model List<TMS.Repository.Dtos.TaskAssignDto>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 12px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 6px;
        }
        th {
            background-color: #f1f1f1;
        }
        td{
            text-align: center;
        }
        .heading{
            text-align: center;
        }
    </style>
</head>
<body>
    <h2 class="heading"> TMS - Task Management System</h2>
    <table>
        <thead>
            <tr>
                <th>User Name</th>
                <th>Task Name</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Assigned At</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr>
                    <td>@task.UserName</td>
                    <td>@task.TaskName</td>
                    <td>@task.Status</td>
                    <td>@task.Priority</td>
                    <td>@(task.CreatedAt.HasValue ? task.CreatedAt.Value.ToString("yyyy-MM-dd") : "N/A")</td>
                    <td>@task.DueDate.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>